<%= form_for @comment, url: comment_post_url(@comment), html: {method: comment_post_method(@comment)} do |f| %>
  <p>
    <%= f.label :content %>
    <br/>
    <%= f.text_area :content %>
  </p>
  <p>
    <%= label_tag "attachment", "Attachments" %>
    <br>
    <% unless @comment.comment_attachments.empty? %>
      <% @comment.comment_attachments.select {|a| !a.new_record?}.each do |attachment| %>
        <div>
          <%= link_to attachment.file.name, attachment.file.url %>
          <%= check_box_tag "comment[delete_attachment_ids][]", attachment.id,
                          f.object.delete_attachment_ids.include?(attachment.id.to_s),
                          id: "delete_#{attachment.id}" %>

          <%= label_tag "delete_#{attachment.id}", "remove?" %>
        </div>
      <% end %>
    <% end %>
    <%= file_field_tag "comment[attachments_files][]", id: "attachment" %>
  </p>
  <p>
    <%= f.submit "Post Comment" %>
  </p>
<% end %>

